<div class="list-group">
    <ul class = "menu-list">
        {% for category in categories %}
            {% if (category.top ==1) %}
                <li class = "menu-item">   <a href="{{ category.href }}" class="list-group-item ">{{ category.name }} <span class="menu_arrow">></span></a> 
                    <div class="category-children list-group-item">  
                        <a href="{{ category.href }}" class="list-group-item ">{{ category.name }} </a> 
                        <ul>
                            {% for child in category.children %}
                                <li>
                                    <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        <li>
    </ul>
</div>

<script>


    $(function () {
        var docHeight = $(document).height();
        $("body").append("<div id='overlay'></div>");
        $("#overlay")
                .height(docHeight)
                .css({
                    'display': 'none',
                    'opacity': 0.4,
                    'position': 'absolute',
                    'top': 0,
                    'left': 0,
                    'background-color': 'black',
                    'width': '100%',
                    'z-index': 1
                });

    });

    $(".menu-item").mouseenter(function () {




        $(".list-group").find(".category-children").css("display", "none");
        $(this).find(".category-children").css("display", "block");
        $("#overlay")
                .css({
                    'display': 'block',
                });

    });
    $(".list-group").mouseleave(function () {


        $(this).find(".category-children").css("display", "none");


        $("#overlay")
                .css({
                    'display': 'none',
                });

    });

</script>

