<a href="#contact-toggle" class="" id="contact-toggle">
    <div id="contact-block" class="buttons-header">
        <div class="button-i"><i class="fa fa-envelope"></i></div>
        <span class="button-text">{{ button_text }}</span>
    </div>
</a>
<script>
    $(document).ready(function () {
        $("#contact-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("contact-toggled");
            $(".sidebar-opacity").toggleClass("contact-toggled");
        });
        $("#sidebar-wrapper-contact").mouseleave(function (e) {
            e.preventDefault();
            $("#wrapper").removeClass("contact-toggled");
            $(".sidebar-opacity").removeClass("contact-toggled");
        });
    });

</script>


<div id=" wrapper">


    <div id="sidebar-wrapper-contact">


        <ul class="sidebar-nav list-group">

            <li class="sidebar-title">
                <a href="#contact-toggle-close" id="contact-toggle-close"><span
                            aria-hidden="true">×</span></a>{{ button_text }}
                <script>
                    $("#contact-toggle-close").click(function (e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("contact-toggled");
                        $(".sidebar-opacity").toggleClass("contact-toggled");
                    });
                </script>
            </li>
            <li>  {#TODO#}
                <h2>Киев</h2></li>
            <li>
                <div>
                    <h5>{{ address_title }}</h5>
                    {{ address }}<br>
                    {{ geocode }}   </div>
            </li>
            <li>
                <div>
                    <h5>{{ telephone_title }}</h5>
                    {{ telephone }}   </div>
            </li>
            <li>
                <div>
                    <h5>{{ opening_times_title }}</h5>
                    {{ open }}    </div>
            </li>
            <li>
                <div class="comment">
                    {{ comment }}    </div>
            </li>
            <li>
                <div>
                    <a href="{{ contact }}" class="btn btn-primary">{{ contact_form_title }}</a>
                </div>
            </li>
            {#2 town#}
            <li>  {#TODO#}
                <h2>Харьков</h2></li>
            <li>
                <div>
                    <h5>{{ address_title }}</h5>
                    {{ address }}<br>
                    {{ geocode }}   </div>
            </li>
            <li>
                <div>
                    <h5>{{ telephone_title }}</h5>
                    {{ telephone }}   </div>
            </li>
            <li>
                <div>
                    <h5>{{ opening_times_title }}</h5>
                    {{ open }}    </div>
            </li>
            <li>
                <div class="comment">
                    {{ comment }}    </div>
            </li>
            <li>
                <div>
                    <a href="{{ contact }}" class="btn btn-primary">{{ contact_form_title }}</a>
                </div>
            </li>
        </ul>
    </div>
</div>