<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<style>
    .button-i {
        color: #FED900;
    }


</style>


<style type="text/css">

    /*  Body background color and pattern  */
    body {
        background-color: #DFE3ED;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    /*  Headings color  */
    h1, h2, h3, h4, h5, h6, .panel-default > .panel-heading, .product-thumb h4 a, #column-left .product-thumb h4 a, #column-right .product-thumb h4 a, .table > thead, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, legend, #search .form-control, .product-right-sm-info span.p-title, .product-right-sm-related .name a {
        color: #36445F;
    }

    #content h1, #content h2 {
        padding-bottom: 0;
    }

    /*  Body text color  */
    body, #content .tab-content p, #content .product-right-sm-info .modal-body p, .product-buy ul.pf span {
        color: #707C8C;
    }

    /*  Light text color  */
    small, #content p, .breadcrumb a, .cat-description, .product-thumb .product_box_brand a, .product-buy ul.pf li, .product-buy ul.pp, .prev-name, .next-name, .product-right-sm-info span.p-subtitle, .product-right-sm-related .product_box_brand a, .box-category-home .subcat a, #content .product-right-sm-info .modal-body h1 + p, #features .modal-body h1 + p, .cookie-message, .alert-success, .alert-info, .dropdown-highlight {
        color: #9BA9BA;
    }

    /*  Links color  */
    a, a:focus, .list-group a {
        color: #707C8C;
    }

    /*  Links hover color  */
    a:hover, .breadcrumb a:hover, .dropdown-highlight:hover, .dropdown-highlight:focus, .box-category-home .subcat li:hover a, .table .btn, .table .btn-primary, .table .btn-primary:hover, .table .btn-primary:focus, .list-group a.active, .list-group a.active:hover, .list-group a:hover, .category-list .image:hover, .save-percent {
        color: #C51720;
    }

    /*  Icons color  */
    .dr-menu > div .dr-icon i, .category-list i, #menu_brands .image i, .box-manufacturers-home .image i, #search .input-group-addon .btn, .accordion li.dcjq-parent-li > a + .dcjq-icon {
        color: #D6DDE6;
    }

    .owl-carousel .owl-buttons div {
        color: #D6DDE6 !important;
    }

    /*  Icons hover color  */
    .dr-menu.dr-menu-open > div .dr-icon i, #search .input-group-addon .btn:hover, .up-theme-modal .modal-body .close, .product-right-sm-info span.p-icon i, .alert-success i, .alert-success .close, .alert-info i, .alert-info .close, .accordion li.dcjq-parent-li > a + .dcjq-icon:hover, .up-theme-gallery-content .gallery-hover-box i, .up-theme-modal-popup .modal-body .close {
        color: #C51720;
    }

    .owl-carousel .owl-buttons div:hover, .mfp-close:hover {
        color: #C51720 !important;
    }

    #toTop {
        background-color: #C51720;
    }

    /*  Wrapper Frame  */
    .wrapper.framed {
        background-color: #E8EDF3;
    }

    .wrapper.full-width-border {
        border: 34px solid #E8EDF3;
    }

    /*  Content Column  */
    #content, #content .panel-default > .panel-heading, #content .panel, .category-list + .panel-default > .panel-heading, #search .form-control, #search .input-group-addon, #search .input-group-addon .btn, #livesearch_search_results, .modal-content, .alert-success, .alert-info, .cookie-message, .custom_box {
        background-color: #FFFFFF;
    }

    .product-filter, .dropdown-highlight {
        background-color: #FFFFFF;
    }

    .product-filter, .pagination-box, #content .panel-default > .panel-heading, #product-tabs, #livesearch_search_results li, .modal-footer, .list-group a, .list-group a.active, .list-group a.active:hover, .list-group a:hover, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .dr-menu ul li {
        border-top: 1px solid #F4F7F7;
    }

    .product-filter, .modal-header, .box-category-home .subcat li {
        border-bottom: 1px solid #F4F7F7;
    }

    .well, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .contact-map, .img-thumbnail-theme {
        border: 1px solid #F4F7F7;
    }

    hr, legend, #search .input-group-addon {
        border-color: #F4F7F7;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        border-top: 1px solid #FED900;
    }

    /*  Left Column Heading  */
    #column-left .panel-heading {
        background-color: #FFFFFF;
    }

    #column-left .panel-default > .panel-heading, #column-left .panel-default > .panel-heading h2 {
        color: #36445F;
    }

    #column-left .panel-default > .panel-heading, #column-left .dr-menu.dr-menu-open > .panel-heading {
        border-bottom: 1px solid #F4F7F7;
    }

    /*  Left Column Box  */
    #column-left .panel, #column-left .owl-carousel {
        background-color: #FFFFFF;
    }

    #column-left a {
        color: #707C8C;
    }

    #column-left a:hover {
        color: #C51720;
    }

    #column-left {
        color: #707C8C;
    }

    #column-left .list-group a, #column-left .list-group a.active, #column-left .list-group a.active:hover, #column-left .list-group a:hover, #column-left .dr-menu ul li {
        border-top: 1px solid #F4F7F7;
    }

    #column-left .panel, #column-left .owl-carousel.carousel-module, #column-left .owl-carousel.banner-module {
        border-bottom: 1px solid #F4F7F7 !important;
    }

    #column-left {
        border-right: 1px solid #F4F7F7;
    }

    /*  Right Column Heading  */
    #column-right .panel-heading {
        background-color: #FFFFFF;
    }

    #column-right .panel-default > .panel-heading, #column-right .panel-default > .panel-heading h2 {
        color: #36445F;
    }

    #column-right .panel-default > .panel-heading, #column-right .dr-menu.dr-menu-open > .panel-heading {
        border-bottom: 1px solid #F4F7F7;
    }

    /*  Right Column Box  */
    #column-right .panel, #column-right .owl-carousel {
        background-color: #FFFFFF;
    }

    #column-right a {
        color: #707C8C;
    }

    #column-right a:hover, #column-right .dr-menu > div .dr-icon i {
        color: #C51720;
    }

    #column-right {
        color: #707C8C;
    }

    #column-right .list-group a, #column-right .list-group a.active, #column-right .list-group a.active:hover, #column-right .list-group a:hover, #column-right .dr-menu ul li {
        border-top: 1px solid #F4F7F7;
    }

    #column-right .panel, #column-right .owl-carousel.carousel-module, #column-right .owl-carousel.banner-module {
        border-bottom: 1px solid #F4F7F7 !important;
    }

    #column-right {
        border-left: 1px solid #F4F7F7;
    }

    /*  Category Box Heading  */
    #column-left .panel-default.panel-category > .panel-heading, #column-right .panel-default.panel-category > .panel-heading {
        background-color: #FFFFFF;
        color: #36445F;

        border-bottom: 1px solid #F4F7F7;
    }

    /*  Category Box Content  */
    #column-left .panel-default.panel-category, #column-right .panel-default.panel-category {
        background-color: #FFFFFF;
        border-bottom: 1px solid #F4F7F7 !important;
    }

    #column-left .panel-default.panel-category a.list-group-item, #column-right .panel-default.panel-category a.list-group-item, .accordion li.dcjq-parent-li {
        border-top: 1px solid #F4F7F7;
    }

    #column-left .panel-default.panel-category a, #column-right .panel-default.panel-category a {
        color: #707C8C;
    }

    #column-left .panel-default.panel-category a:hover, #column-right .panel-default.panel-category a:hover, #column-left .panel-default.panel-category .cat-mod-child a:hover, #column-right .panel-default.panel-category .cat-mod-child a:hover, #column-left .panel-default.panel-category a.list-group-item.active, #column-right .panel-default.panel-category a.list-group-item.active {
        color: #C51720;
    }

    #column-left .panel-default.panel-category .cat-mod-child a, #column-right .panel-default.panel-category .cat-mod-child a, #column-left .accordion li ul li a.list-group-item {
        color: #9BA9BA;
    }

    /*  Filter Box Heading  */
    #column-left .panel-default.filters > .panel-heading, #column-right .panel-default.filters > .panel-heading {
        background-color: #FFFFFF;
        color: #36445F;

        border-bottom: 1px solid #F4F7F7;
    }

    /*  Filter Box Content  */
    #column-left .panel-default.filters, #column-right .panel-default.filters {
        background-color: #FFFFFF;
        border-bottom: 1px solid #F4F7F7 !important;
    }

    #column-left .panel-default.filters a, #column-right .panel-default.filters a {
        color: #36445F;
    }

    #column-left .panel-default.filters label, #column-right .panel-default.filters label {
        color: #707C8C;
    }

    #column-left .panel-default.filters label:hover, #column-right .panel-default.filters label:hover {
        color: #C51720;
    }

    /*  Text Logo  */
    #logo h1 a, #logo-menu h1 a {
        color: #FFFFFF;
    }

    /*  Top Promo Message Slider  */
    #top-custom-block-content {
        display: none;
    }

    #top-custom-block-wrapper {
        background-color: #28354D;
        color: #FFFFFF;
        background-image: url("http://321cart.com/up-tuning/image/catalog/custom/custom_bg_1.png");
        animation: animatedBackground 40s linear infinite;
    }

    /*  Layout  */

    /*  HEADER  */

    header {
        background-color: #4A5976;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    .is-sticky #menu {
        background-color: #4A5976;
    }

    .button-i {
        color: #FED900;
    }

    .buttons-header:hover .button-i {
        color: #FED900;
    }

    .buttons-header button, .buttons-header span.button-text {
        color: #D6DDE6;
    }

    .buttons-header:hover, .buttons-header:hover button, .buttons-header:hover span.button-text {
        color: #FFFFFF;
    }

    .col-sm-8 #information-block, .col-sm-8 #contact-block, #search-block, #cart, #menu-mobile-block {
        border-left: 1px solid #4A5976;
    }

    #information-block, #contact-block {
        border-right: 1px solid #4A5976;
    }

    @media (max-width: 767px) {
        #search-block, #cart, #menu-mobile-block {
            border-top: 1px solid #4A5976;
        }
    }

    /*  Top Bar  */
    #top, #open-top-custom-block {
        background-color: #4A5976;
    }

    #top, #top-links li {
        color: #D6DDE6;
    }

    #top a, #top .btn-link, #top-links a {
        color: #D6DDE6;
    }

    #top a:hover, #top .btn-link:hover, #top .btn-link:hover i, #top-links a:hover, #top-links a:hover i, #open-top-custom-block i {
        color: #FED900;
    }

    #open-top-custom-block {
        border-left: 1px solid #54627F;
    }

    #open-top-custom-block.open i, #top-links i, #top .btn-link i {
        color: #D6DDE6;
    }

    #top {
        border-bottom: 1px solid #54627F;
    }

    #menu-mobile-block {
        float: right;
    }

    /*  Fixed Header  */
    .is-sticky .navbar {
        text-align: left;
    }

    /*  MAIN MENU */

    /*  Main Menu Bar  */
    #menu {

        background-color: #4A5976;

        border-top: 1px solid #54627F;
        background-image: none;
        background-repeat: repeat;
    }

    #menu .main-menu > li > a:hover, #menu .main-menu > li.open > a {
        border-top: 1px solid #FED900;
    }

    #menu .main-menu > li > a {
        border-top: 1px solid transparent;
        margin-top: -1px;
    }

    /*  Home Page Link  */

    #menu #homepage:hover {
        background-color: #3E4E6E;
    }

    #menu #homepage a {
        color: #FFFFFF;
    }

    #menu #homepage:hover a {
        color: #FFFFFF;
    }

    /*  Categories Section  */

    .menu_oc:hover, #menu_ver:hover, #menu_hor:hover {
        background-color: #3E4E6E;
    }

    .menu_oc > a, #menu_ver > a, #menu_hor > a {
        color: #FFFFFF;
    }

    .menu_oc:hover > a, #menu_ver:hover > a, #menu_hor:hover > a {
        color: #FFFFFF;
    }

    /*  Brands Section  */

    #menu_brands:hover {
        background-color: #3E4E6E;
    }

    #menu_brands > a {
        color: #FFFFFF;
    }

    #menu_brands:hover > a {
        color: #FFFFFF;
    }

    /*  Custom Links Section  */

    .menu_links:hover {
        background-color: #3E4E6E;
    }

    .menu_links a {
        color: #FFFFFF;
    }

    .menu_links:hover a {
        color: #FFFFFF;
    }

    /*  Custom Menu Section  */

    #menu_custom_menu:hover {
        background-color: #3E4E6E;
    }

    #menu_custom_menu > a {
        color: #FFFFFF;
    }

    #menu_custom_menu:hover > a {
        color: #FFFFFF;
    }

    /*  Custom Blocks Section  */

    .menu_custom_block:hover {
        background-color: #3E4E6E;
    }

    .menu_custom_block > a {
        color: #FFFFFF;
    }

    .menu_custom_block:hover > a {
        color: #FFFFFF;
    }

    /*  Sub-Menu  */
    #menu .dropdown-menu, #menu .dropdown-menus {
        background-color: #3E4E6E;
        color: #FFFFFF;
    }

    #menu .dropdown-highlight {
        background-color: #3B4B6B;
    }

    #menu .dropdown-menus a, #menu_brands .brand-item .name {
        color: #FFFFFF;
    }

    #menu .dropdown-menus a:hover, #menu .dropdown-menus li a:hover, #menu #menu_hor .dropdown-menus li.sub-cat:hover > a, #menu #menu_hor .dropdown-menus li.main-cat > a:hover, #menu_brands .brand-item .name:hover {
        color: #FED900;
    }

    .menu_oc ul > li, #menu_ver ul > li, #menu_custom_menu ul > li, .menu_custom_block table ul > li, #menu .dropdown-menu li, #menu .dropdown-menus li {
        border-bottom: 1px solid #465575;
    }

    #menu_hor .dropdown-menus ul > li ul > li {
        border-bottom: none;

    }

    #menu .dropdown-menus a.see-all {
        border-top: 1px solid #465575;
    }

    #menu .dropdown-menu, #menu .dropdown-menus {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    /*  Main Menu Labels  */
    #menu_label1:after {
        background-color: #E55E5E;
    }

    #menu_label2:after {
        background-color: #C51720;
    }

    #menu_label3:after {
        background-color: #E55E5E;
    }

    #menu_label4:after {
        background-color: #E55E5E;
    }

    #menu_label5:after {
        background-color: #E55E5E;
    }

    #menu_label6:after {
        background-color: #E55E5E;
    }

    #menu_label7:after {
        background-color: #C51720;
    }

    #menu_label8:after {
        background-color: #E55E5E;
    }

    #menu_label9:after {
        background-color: #E55E5E;
    }

    #menu_label10:after {
        background-color: #E55E5E;
    }

    #menu_label11:after {
        background-color: #E55E5E;
    }

    #menu_label12:after {
        background-color: #E55E5E;
    }

    #menu_label13:after {
        background-color: #E55E5E;
    }

    #menu_label14:after {
        background-color: #E55E5E;
    }

    #menu_label15:after {
        background-color: #E55E5E;
    }

    #menu .cat-img img {
        margin-right: -30px;
    }

    .navbar {
        text-align: center;
    }

    /*  Custom Bar below Main Menu  */
    #custom-bar-wrapper {
        background-color: #28354D;
        color: #FFFFFF;
        background-image: url("http://321cart.com/up-tuning/image/catalog/custom/custom_bg_1.png");
        animation: animatedBackground 40s linear infinite;
    }

    /*  Slider Controls */
    .owl-controls .owl-page span {
        background: #E8EDF3;
    }

    .owl-controls .owl-page.active span {
        background: #FED900;
    }

    /*  Category Page  */
    .category_top_title h1 {
        color: #FFFFFF;
    }

    /*  Product Box  */
    span.badge.sale {
        background-color: #C51720;
    }

    span.badge.new {
        background-color: #4A5976;
    }

    .rating .fa-star {
        color: #C51720;
    }

    .product-grid .name, #content .box-product .name, #content .box-product .product_box_brand, .product-bottom-related .name, .product-box-slider .name, .product-grid .product_box_brand, .product-box-slider .product_box_brand, .product-bottom-related-flexslider .product_box_brand, .product-bottom-related-flexslider .rating, .tab-content-products .product_box_brand, .product-grid .price, #content .box-product .price, .product-box-slider .price, .product-bottom-related .price, .product-grid .rating, #content .box-product .rating, .product-box-slider .rating, .product-grid .cart, #content .box-product .cart, .product-box-slider .cart, .product-bottom-related .cart, .product-right-sm-related .name, .product-right-sm-related .product_box_brand, .product-right-sm-related .rating, .product-right-sm-related p.price {

        text-align: left;
    }

    /*  Product Page  */

    /*  Video Box  */
    .video_box_left #video_box_icon, .video_box_right #video_box_icon {
        background-color: #C51720;
    }

    .video_box_right .video_box, .video_box_left .video_box {
        border: 4px solid #C51720;
    }

    /*  Custom Box  */
    .custom_box_left #custom_box_icon, .custom_box_right #custom_box_icon {
        background-color: #FED900;
    }

    .custom_box_right .custom_box, .custom_box_left .custom_box {
        border: 4px solid #FED900;
    }

    /*  FOOTER  */
    footer {
        opacity: 1;
    }

    /*  Features Block  */
    #features {
        background-color: #4A5976;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
    }

    #features span.f-icon.fi1 i {
        color: #FED900;
    }

    #features span.f-icon.fi2 i {
        color: #FED900;
    }

    #features span.f-icon.fi3 i {
        color: #FED900;
    }

    #features span.f-icon.fi4 i {
        color: #FED900;
    }

    #features .f-title {
        color: #FFFFFF;
    }

    #features span.f-subtitle {
        color: #D6DDE6;
    }

    /*  Information, Custom Column  */
    #information {
        color: #D6DDE6;
        background-color: #4A5976;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        border-top: 1px solid #54627F;
    }

    #information h5 {
        color: #FFFFFF;
    }

    #information a {
        color: #FFFFFF;
    }

    #information a:hover {
        color: #FED900;
    }

    #information li {
        color: #FED900;
    }

    /*  Powered by, News, Payment Images, Follow Us  */
    #powered {
        color: #D6DDE6;
        background-color: #4A5976;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        border-top: 1px solid #54627F;
    }

    #powered a {
        color: #FFFFFF;
    }

    #powered a:hover, #powered i:hover {
        color: #FED900;
    }

    #powered span#footer-news {
        color: #FED900;
    }

    #powered #news a {
        color: #FFFFFF;
    }

    #powered #news a:hover {
        color: #FED900;
    }

    #powered i {
        color: #FFFFFF;
    }

    /*  Bottom Custom Block  */
    #footer_custom {
        color: #D6DDE6;
        background-color: #4A5976;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        border-top: 1px solid #54627F;
    }

    #footer_custom a {
        color: #FFFFFF;
    }

    #footer_custom a:hover {
        color: #FED900;
    }

    /*  Product Slider on Home Page  */
    .ei-slider, .ei-slider-large li {
        background-color: #FFFFFF;
    }

    .ei-title h2 a {
        color: #36445F;
    }

    .ei-title h3 a, .ei-title h4 a .price-old {
        color: #9BA9BA;
    }

    .ei-title h4 a {
        color: #36445F;
    }

    .ei-slider-thumbs li a {
        background: #D6DDE6;
    }

    .ei-slider-thumbs li.ei-slider-element {
        background: #FED900;
    }

    /*  Prices */
    #content .product-thumb p.price, #cart span.price, #column-left .product-items .price, #column-right .product-items .price, .product-buy .price-reg, #content .product-right-sm-related p.price {
        color: #36445F;
    }

    .price-old, .product-thumb .price-tax {
        color: #9BA9BA;
    }

    .price-new {
        color: #36445F;
    }

    /*  Buttons */
    .btn-default, button.wishlist, button.compare, button.info, .pagination > li > a, .pagination > li > span, #cart .btn-default, .box-category-home .name, .box-manufacturers-home .name, input#input-quantity, input.dec, input.inc, #menu #menu_hor .dropdown-menus li.main-cat > a, #menu_brands .brand-item .name, #sidebar-wrapper-contact a.btn-default {

        background-color: #E8EDF3;
        color: #707C8C;
        border: 3px solid #E8EDF3;
    }

    .btn-default:hover, #column-left .btn-default:hover, #column-right .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled], button.wishlist:hover, button.compare:hover, button.info:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > a:active, .pagination > li > span:hover, #cart .btn-default:hover, .box-category-home .name:hover, .box-manufacturers-home .name:hover, input.dec:hover, input.inc:hover, #menu #menu_hor .dropdown-menus li.main-cat > a:hover, #menu_brands .brand-item a:hover .name, #sidebar-wrapper-contact a.btn-default:hover {
        background-color: #C51720;
        color: #FFFFFF;
        border: 3px solid #C51720;
    }

    .btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, #information a.btn-primary, #cart .btn-primary, #sidebar-wrapper-contact a.btn-primary {

        background-color: #FED900;
        color: #707C8C;
        border: 3px solid #FED900;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], #information a.btn-primary:hover, #cart .btn-primary:hover, #sidebar-wrapper-contact a.btn-primary:hover {
        background-color: #C51720;
        color: #FFFFFF;
        border: 3px solid #C51720;
    }

    .btn, .pagination > li > a, .pagination > li > span, .product-grid .wishlist, .product-grid .compare, .product-grid .info, .product-list .wishlist, .product-list .compare, #content .box-product .wishlist, #content .box-product .compare, #content .box-product .info, .product-box-slider-flexslider .wishlist, .product-box-slider-flexslider .compare, .product-box-slider-flexslider .info, .product-bottom-related-flexslider .wishlist, .product-bottom-related-flexslider .compare, .product-bottom-related-flexslider .info, .up-theme-gallery-content .gallery-hover-box, .up-theme-modal-popup .modal-body .close, .box-category-home .name, .box-manufacturers-home .name, #menu #menu_hor .dropdown-menus li.main-cat > a, #menu_brands .brand-item .name {
        border-radius: 4px !important;
    }

    /*  Dropdowns  */
    .dropdown-menu, .dropdown-menus, .my-account-dropdown-menu li, #cart .dropdown-menu, #sidebar-wrapper, #sidebar-wrapper-contact, #menu-mobile, .prev, .next {
        background-color: #3E4E6E;
    }

    #cart span.name a, #cart span.quantity, .sidebar-nav > .sidebar-title, .sidebar-nav h5 {
        color: #FFFFFF;
    }

    #cart .table.cart-total > tbody > tr > td, .dropdown-menu .datepicker {
        color: #FFFFFF;
    }

    #cart .table.cart-total > tbody > tr > td:first-child, #cart .dropdown-menu li p, #cart .dropdown-menu small, #cart span.price, .sidebar-nav li a, #sidebar-wrapper-contact div {
        color: #FFFFFF;
    }

    .dropdown-menu a, #top .dropdown-menu a, #top .dropdown-menu .btn-link, .prev-name, .next-name, .bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
        color: #D6DDE6;
    }

    .dropdown-menu a:hover, #top .dropdown-menu a:hover, .my-account-dropdown-menu li.logout a:hover, #top .dropdown-menu li:hover .btn-link, .sidebar-nav li a:hover, .prev-name:hover, .next-name:hover {
        color: #FFFFFF;
    }

    #top-links .my-account-dropdown-menu i, #cart button.item-remove, .prev-arrow i, .next-arrow i {
        color: #FED900;
    }

    #top-links .my-account-dropdown-menu li a:hover i, #cart button.item-remove:hover, #menu-toggle-close span, #contact-toggle-close span, #menu-mobile-toggle-close span {
        color: #FED900;
    }

    .my-account-dropdown-menu li.logout, #cart .checkout, .prev-name, .next-name {
        background-color: #3B4B6B;
    }

    #cart .table > tbody > tr > td, #cart .checkout, .prev-name, .next-name {
        border-top: 1px solid #465575;
    }

    .dropdown-menu li, .dropdown-menus li, .sidebar-nav.list-group li {
        border-bottom: 1px solid #465575;
    }

    .my-account-dropdown-menu li:nth-child(2n) {
        border-left: 1px solid #465575;
    }

    .dropdown-menu, .dropdown-menus, .modal-body #search, #livesearch_search_results, .modal-content {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .prev, .next {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    /*  Modal  */
    .up-theme-modal .modal-content, .fancybox-overlay {

        background-color: rgba(245, 245, 245, 0);
    }

    .modal-backdrop {

        background-color: rgba(245, 245, 245, 0.95);
    }

    /*  Fonts  */

    /*  Body  */
    body, button, select, .form-control, .menu_label, .tooltip-inner {
        font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    }

    body, button, select, .form-control, #cart .table > tbody > tr > td, #menu .dropdown-menus, #menu .dropdown-menus a, .box-category-home .subcat a {
        font-size: 12px;
    }

    body, input, button, select, .form-control, .tooltip-inner {
        text-transform: uppercase;
    }

    /*  Small Text  */
    small, .small, label, #top, #top #currency .currency-select, #top .btn-group > .btn, .buttons-header, #cart > .btn, .btn-group > .dropdown-menu, .dropdown-menu, .dropdown-menus, #menu .dropdown-menus a.see-all, .menu_label, .breadcrumb a, .category-list > div, .product-thumb .product_box_brand a, .product-right-sm-related .product_box_brand a, .tooltip {
        font-size: 10px;
    }

    /*  Headings and Product Name  */
    h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .nav-tabs > li > a, legend, .sidebar-nav > .sidebar-title, #menu #menu_hor .dropdown-menus li.main-cat > a, .box-category-home .name {
        font-weight: 900;
    }

    h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .nav-tabs > li > a, legend, .sidebar-nav > .sidebar-title, #menu #menu_hor .dropdown-menus li.main-cat > a, .box-category-home .name {
        font-family: Lato, Arial, Helvetica, sans-serif;
    }

    h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .nav-tabs > li > a, legend, .sidebar-nav > .sidebar-title, #menu #menu_hor .dropdown-menus li.main-cat > a, .box-category-home .name {
        text-transform: uppercase;
    }

    /*  Price  */
    .price, .price-new, .price-old, .price-reg {
        font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    }

    .price, .price-new, .price-old, .price-reg {
        font-weight: bold;
    }

    /*  Buttons  */
    .btn-default, .btn-primary, .box-manufacturers-home .name {
        font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    }

    .btn-default, .btn-primary, .box-manufacturers-home .name {
        font-size: 10px;
        font-weight: normal;
    }

    /*  Main Menu Bar  */
    #menu #homepage a, #menu .main-menu > li > a {
        font-family: Lato, Arial, Helvetica, sans-serif;
    }

    #menu #homepage a, #menu .main-menu > li > a {
        font-size: 15px;
        font-weight: 900;
    }

    #menu #homepage a, #menu .main-menu > li > a {
        text-transform: uppercase;
    }

    body, #content .tab-content p, #content .product-right-sm-info .modal-body p, .product-buy ul.pf span {
        color: #707C8C;
    }

    .menu_container {
        height: 58px;
        padding-left: 0px;
        padding-right: 0px;
    }

    body {
        background-color: #DFE3ED !important;
        background-image: none;
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;
    }

    .up-theme-modal .modal-content, .fancybox-overlay {
        background-color: rgba(245, 245, 245, 0);
    }

</style>
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    <link href="catalog/view/theme/vodoprovod1/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="catalog/view/theme/vodoprovod1/stylesheet/stylesheet-small-screens.css" rel="stylesheet">
    <link href="catalog/view/theme/vodoprovod1/stylesheet/ui.totop.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Lato" rel="stylesheet">

    <link href="catalog/view/javascript/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen"/>
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/one_click_buy.js"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}


</head>
<body class="common-home">
<script>
    $(document).ready(function () {
        <!-- BEGIN JIVOSITE CODE {literal} -->
        (function () {
            var widget_id = '32gZMTe6ky';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }

            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
        <!-- {/literal} END JIVOSITE CODE -->
    });
</script>
<div id="wrapper" class="wrapper boxed">
    <nav id="top">
        <div class="container">
            {#{{ currency }}#}
            {{ language }}
            <div class="btn-group">

                {% if proffi=="true" %}
                    <label><input id="proffi" checked type="checkbox"/>Я профи</label>
                {% else %}
                    <label><input id="proffi" type="checkbox"/>Я профи</label>
                {% endif %}

            </div>
            <div id="top-links" class="nav pull-right">
                <ul class="list-inline">
                    <li class="dropdown">
                        <a href="{{ contact }}" class="dropdown-toggle" text="Телефоны" data-toggle="dropdown">
                            <i class="fa fa-phone"></i>
                            <span class="hidden-xs hidden-sm hidden-md">Телефоны</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
                            <li><span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
                            <li><span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if logged %}
                                <li><a href="{{ account }}">{{ text_account }}</a></li>
                                <li><a href="{{ order }}">{{ text_order }}</a></li>
                                <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                                <li><a href="{{ download }}">{{ text_download }}</a></li>
                                <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                            {% else %}
                                <li><a href="{{ register }}">{{ text_register }}</a></li>
                                <li><a href="{{ login }}">{{ text_login }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i
                                    class="fa fa-heart"></i> <span
                                    class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
                    <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i
                                    class="fa fa-shopping-cart"></i> <span
                                    class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 header-information hidden-xs">
                    {{ information }}
                    {{ contact_us }}

                </div>
                <div class="col-xs-12 col-sm-4 header-logo">
                    <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
                                                                          alt="{{ name }}" class="img-responsive"/>
                            </a>{% else %}
                            <h1><a href="{{ home }}">{{ name }}</a></h1>
                        {% endif %}</div>
                </div>
                <div class="col-sm-4 col-md-2 pull-right">
                    <a href="#menu-mobile-toggle" class="" id="menu-mobile-toggle">
                        <div id="menu-mobile-block" class="buttons-header hidden-sm hidden-md hidden-lg">
                            <div class="button-i"><i class="fa fa-bars"></i></div>
                            <span class="button-text">Menu</span>
                        </div>
                    </a>


                    {{ search }}
                    {#{{ cart }}#}
                </div>
                {#                        <div class="col-sm-3"></div>#}
            </div>
        </div>
    </header>
    {{ menu }}

    {{ mobile_menu }}


    <script type="text/javascript">

        var win = $(window);

        var allMods = $("footer");

        allMods.each(function (i, el) {

            if ($(el).visible(true)) {
                $(el).addClass("already-visible");
            }

        });

        win.scroll(function (event) {

            allMods.each(function (i, el) {

                var el = $(el);

                if (el.visible(true)) {
                    el.addClass("come-in");
                } else {
                    el.removeClass("come-in already-visible");
                }

            });

        });
    </script>
    <script src="catalog/view/theme/vodoprovod1/js/tickerme.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#ticker').tickerme();
        });
    </script>
    <script type="text/javascript" src="catalog/view/theme/vodoprovod1/js/jquery.easing-1.3.min.js"></script>


    <link rel="stylesheet" property="stylesheet" type="text/css"
          href="catalog/view/theme/vodoprovod1/stylesheet/livesearch.css">

    <script type="text/javascript" src="catalog/view/theme/vodoprovod1/js/livesearch.js"></script>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/vodoprovod1/stylesheet/ui.totop.css" media="screen">
    <script type="text/javascript" src="catalog/view/theme/vodoprovod1/js/jquery.ui.totop.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $().UItoTop({easingType: 'easeOutQuart'});
        });
    </script>
    <script type="text/javascript" src="catalog/view/theme/vodoprovod1/js/quickview/quickview.js"></script>
    <link rel="stylesheet" property="stylesheet"
          href="catalog/view/theme/vodoprovod1/js/quickview/fancybox/jquery.fancybox.css">
    <script src="catalog/view/theme/vodoprovod1/js/quickview/fancybox/jquery.fancybox.pack.js"></script>
    <script src="catalog/view/theme/vodoprovod1/js/jquery.stellar.js" type="text/javascript"></script>


    <script type="text/javascript" src="catalog/view/theme/vodoprovod1/js/jquery.sticky.js"></script>


    <script>

        $("#proffi").change(function () {


            $.ajax({
                datatype: 'html',
                type: 'POST',
                url: 'index.php?route=common/proffi',
                data: 'proffi=' + $(this).prop("checked"),
                success: function (data) {
                    location.reload();

                }
            });


        });


    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


              

