<a href="#menu-toggle" class="" id="menu-toggle">
    <div id="information-block" class="buttons-header">
        <div class="button-i"><i class="fa fa-bars"></i></div>
        <span class="button-text">{{button_text}}</span>
    </div>
</a>



<div id="sidebar-wrapper">
    <ul class="sidebar-nav list-group">
        <li class="sidebar-title">
            <a href="#menu-toggle-close" id="menu-toggle-close"><span aria-hidden="true">×</span></a>{{button_text}}     <script>
                $("#menu-toggle-close").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    $(".sidebar-opacity").toggleClass("toggled");
                });
            </script>
        </li>
        {% if informations %}
                {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
        {% endif %}
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $(".sidebar-opacity").toggleClass("toggled");
        });
        $("#sidebar-wrapper").mouseleave(function () {
            $("#wrapper").removeClass("toggled");
            $(".sidebar-opacity").removeClass("toggled");
        });
    });

</script>