{% if languages|length > 1 %}
<div class="pull-right">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
      {% for language in languages %}
      {% if language.code == code %} 
      {#<img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">#}
      {% endif %}
      {% endfor %}
      {#<span class="hidden-xs hidden-sm hidden-md">{{ text_language }}</span>&nbsp;<i class="fa fa-caret-down"></i></button>#}
        {% for language in languages %}
          <button class="btn btn-link   lang-button language-select"  type="submit" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> </button>
        {% endfor %}

    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}
<style>
  .lang-button{
    display: flex !important;
    flex-wrap: nowrap !important;
  }

</style>
