{% if categories %}
<script src="catalog/view/theme/vodoprovod1/js/jquery.visible.min.js"
	type="text/javascript"></script>
<script>
	$(document).ready(function() {
		$("#menu").sticky({
			topSpacing : 0
		});
	});
</script>
<style>
.main-menu-list {
	display: inline-flex !important;
}

.category-image {
	display: none;
}
</style>
	<div id="menu-sticky-wrapper" class="sticky-wrapper">
	<nav id="menu" class="navbar">


		<div class="col-sm-3 menu-header-logo" id="logo-menu">
			<h1>
				<a href="{{ home }}">{{ name }}</a>
			</h1>
		</div>


		<div style="display: inline-flex !important;"
			class="main-menu-list collapse navbar-collapse navbar-ex1-collapse">
			<ul class="main-menu">
				{% for category in categories %}
				{% if category.children %}
				<li class="menu_oc"><a href="{{ category.href }}"
					class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
					<div class="dropdown-menus">
						<div class="dropdown-inner">
							{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
							<ul class="list-unstyled">
								{% for child in children %}
								<li name="{{ child.id }} " class="category-text"><a
									href="{{ child.href }}">{{ child.name }}</a></li>
								{% endfor %}
							</ul>
							{% endfor %}
						</div>
						<div class="dropdown-inner">
							{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
							<ul class="list-unstyled img">
								{% for child in children %}
								<li class="category-image {{ child.id }}"><a
									href="{{ child.href }}"><img id="catImg"
										src="{{ child.image }}" /></a></li>
								{% endfor %}
							</ul>
							{% endfor %}
						</div>
						<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
					</div></li>
				{% else %}
				<li><a href="{{ category.href }}">{{ category.name }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="search-cart-menu pull-right">
			{#{{ search }}#}
			{{ cart }}
		</div>



		<div id="custom-bar-wrapper">
			<div id="custom-bar-content">
				<h3>
					<span style="color: #FED900;">Limited Time! </span><span
						style="color: #FFFFFF;">Free Bonus Gifts with every order!</span>
				</h3>
			</div>
		</div>



	</nav>

</div>

{% endif %}
