{% if categories %}
    <script src="catalog/view/theme/vodoprovod1/js/jquery.visible.min.js"
            type="text/javascript"></script>

    <nav id="menu-mobile" class="hidden-sm hidden-md hidden-lg">


        <div>
            <ul class="accordion sidebar-nav list-group" id="accordion-mobile">
                {% for category in categories %}
                    {% if category.children %}
                        <li class="sidebar-title"><a href="{{ category.href }}" id="menu-mobile-toggle-close">
                                {{ category.name }}
                            </a><i class="menu-plus-button fa fa-plus fa-pull-right"></i>
                            <div style="display: none;" class="dropdown-menus">
                                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                    <ul class="list-unstyled">
                                        {% for child in children %}
                                            <li name="{{ child.id }} "><a style="display: block;"
                                                                          href="{{ child.href }}">{{ child.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}

                                <a style="display: block;" href="{{ category.href }}"
                                   class="list-group-item">{{ text_all }} {{ category.name }}</a>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="search-cart-menu pull-right">
            {{ search }}
            {{ cart }}
        </div>


    </nav>



{% endif %}

<script>
    $(".menu-plus-button").on("click", function () {
        console.log('click' + $(this).parent());
        $(this).parent().find(".dropdown-menus").fadeToggle();
    });
</script>

<script>
    $("#menu-mobile-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menu-toggled");
        $(".sidebar-opacity").toggleClass("menu-toggled");
    });
</script>


{#




    <div id="menu-mobile" class="hidden-sm hidden-md hidden-lg">
        <ul class="accordion sidebar-nav list-group" id="accordion-mobile">
            <li class="sidebar-title">
                <a href="#menu-mobile-toggle-close" id="menu-mobile-toggle-close"><span aria-hidden="true">×</span></a>Menu
                <script>
                    $("#menu-mobile-toggle-close").click(function (e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("menu-toggled");
                        $(".sidebar-opacity").toggleClass("menu-toggled");
                    });
                </script>
            </li>
            <li><a href="http://321cart.com/up-tuning/index.php?route=common/home">Home</a></li>
            <li class="dcjq-parent-li">
                <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59"
                   class="list-group-item">Bodystyling</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul style="display: none;">
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_67"
                           class="list-group-item">Aenean</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_66"
                           class="list-group-item">Mauris</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_68"
                           class="list-group-item">Convallis</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_71"
                           class="list-group-item">Aliquam</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_70"
                           class="list-group-item">Quisque</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=59_69"
                           class="list-group-item">Vitae</a>
                    </li>
                </ul>
            </li>
            <li class="dcjq-parent-li">
                <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60"
                   class="list-group-item">Engine</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul style="display: none;">
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_72"
                           class="list-group-item">Aenean</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_73"
                           class="list-group-item">Mauris</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_74"
                           class="list-group-item">Convallis</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_76"
                           class="list-group-item">Aliquam</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_77"
                           class="list-group-item">Quisque</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=60_75"
                           class="list-group-item">Vitae</a>
                    </li>
                </ul>
            </li>
            <li class="dcjq-parent-li">
                <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61"
                   class="list-group-item">Exhaust</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul style="display: none;">
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_78"
                           class="list-group-item">Aenean</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_80"
                           class="list-group-item">Mauris</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_81"
                           class="list-group-item">Convallis</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_79"
                           class="list-group-item">Aliquam</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_82"
                           class="list-group-item">Quisque</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=61_83"
                           class="list-group-item">Vitae</a>
                    </li>
                </ul>
            </li>
            <li class="dcjq-parent-li">
                <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63"
                   class="list-group-item">Interior</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul style="display: none;">
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_90"
                           class="list-group-item">Aenean</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_91"
                           class="list-group-item">Mauris</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_92"
                           class="list-group-item">Convallis</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_93"
                           class="list-group-item">Aliquam</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_94"
                           class="list-group-item">Quisque</a>
                    </li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=product/category&amp;path=63_95"
                           class="list-group-item">Vitae</a>
                    </li>
                </ul>
            </li>


            <li class="dcjq-parent-li">
                <a href="#" class="dropdown-toggle list-group-item" data-toggle="dropdown">Custom Menu</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul class="list-unstyled" style="display: none;">
                    <li>
                        <a href="#" target="_self">
                            Link 1 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 2 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 3 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 4 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 5 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 6 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 7 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 8 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 9 </a>
                    </li>
                    <li>
                        <a href="#" target="_self">
                            Link 10 </a>
                    </li>
                </ul>
            </li>
            <li class="dcjq-parent-li">
                <a href="#" class="dropdown-toggle list-group-item" data-toggle="dropdown">Information</a>
                <div class="dcjq-icon"><i class="fa fa-plus"></i></div>
                <ul class="list-unstyled" style="display: none;">
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=information/information&amp;information_id=4">About
                            Us</a></li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=information/information&amp;information_id=6">Delivery
                            Information</a></li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=information/information&amp;information_id=3">Privacy
                            Policy</a></li>
                    <li>
                        <a href="http://321cart.com/up-tuning/index.php?route=information/information&amp;information_id=5">Terms
                            &amp; Conditions</a></li>
                </ul>
            </li>
            <li><a href="http://321cart.com/up-tuning/index.php?route=information/contact">Contact us</a></li>
        </ul>
    </div>#}