<div id="search-block" class="search-container ">
  <input type="text" onblur="blurInput(this)" name="search"  placeholder="Поиск" >
    <i onclick='clickOnIcon(this)'class="fa fa-search"></i>

</div>
 <script>
   function clickOnIcon($this) {
        $this = $($this);
        searchBlock = $this.closest('#search-block');
        inputElem = searchBlock.find('input');
        iconElem = $this;
        searchBlock.toggleClass('search-block-active');
        inputElem.focus();
    }
    function blurInput($this){
          $this = $($this);
          searchBlock = $this.closest('#search-block');
           window.setTimeout(" searchBlock.toggleClass('search-block-active');", 1500);   
       }
 
</script>


   
