{{ header }}
<div id="product-product" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        {{ column_left }}

        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <div class="row">
                {% if column_left or column_right %}
                    {% set class = 'col-sm-6' %}
                {% else %}
                    {% set class = 'col-sm-8' %}
                {% endif %}
                <div class="{{ class }}">

                    <ul class="thumbnails">

                        <li><a class="thumbnail" href="{{ popup }}"
                               title="{{ heading_title }}"><img src="{{ product_group.image }}"
                                                                title="{{ heading_title }}" alt="{{ heading_title }}"/></a>
                        </li>


                        {% for image in images %}
                            <li class="image-additional"><a class="thumbnail"
                                                            href="{{ image.popup }}" title="{{ heading_title }}"> <img
                                            src="{{ image.thumb }}" title="{{ heading_title }}"
                                            alt="{{ heading_title }}"/></a></li>
                        {% endfor %}

                    </ul>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description"
                                              data-toggle="tab">{{ tab_description }}</a></li>
                        {% if attribute_groups %}
                            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
                        {% endif %}
                        {% if review_status %}
                            <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            {{ description }}
                        </div>
                        {% if attribute_groups %}
                            <div class="tab-pane" id="tab-specification">
                                <table class="table table-bordered">
                                    {% for attribute_group in attribute_groups %}
                                        <thead>
                                        <tr>
                                            <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for attribute in attribute_group.attribute %}
                                            <tr>
                                                <td>{{ attribute.name }}</td>
                                                <td>{{ attribute.text }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}

                    </div>
                </div>
                {% if column_left or column_right %}
                    {% set class = 'col-sm-6' %}
                {% else %}
                    {% set class = 'col-sm-4' %}
                {% endif %}
                <div class="{{ class }}">
                    <h3>
                        {{ heading_title }}
                    </h3>

                    <form class="form-horizontal" id="characteristics">

                        {% for characteristic in characteristics %}
                            <label class="control-label">{{ characteristic.name }}</label>
                            <select characteristic-id="{{ characteristic.id }}" class="form-control">
                                <option value="unselected" selected disabled>{{ characteristic.name }}</option>
                                {% for value in characteristic.values %}
                                    <option value="{{ value.id }}">{{ value.value }}</option>

                                {% endfor %}
                            </select>
                        {% endfor %}

                        <input type="button" class="form-control button" value=" Подбор товара"/>

                    </form>


                </div>

                <div class="row">
                    <div class="product">

                    </div>

                </div>
                {{ content_bottom }}
            </div>
            {{ column_right }}
        </div>
    </div>
    {{ footer }}
</div>
<script>
    $("#characteristics .button").on('click', function () {

        var data = "characteristics=";
        var tmp = 0;
        var count = 0;
        $("#characteristics select").each(function () {
            count++;
            if ($(this).val() != null) {
                data += $(this).attr("characteristic-id") + "_" + $(this).val() + ";";

            } else {
                tmp++;

            }
        });

        if (tmp < count & tmp != 0) {
            alert('Нужно выбрать все характеристики, для более точного поиска');

            $.ajax({
                type: 'get',
                url: 'index.php?route=product/find_product',
                data: data,
                success: function (data) {
                    $('.product').html(data);
                }
            });
        } else if (tmp == count) {
            alert('Нужно выбрать минимум одну характеристику товара для начала поиска.');
        } else if (tmp == 0) {
            $.ajax({
                type: 'get',
                url: 'index.php?route=product/find_product',
                data: data,
                success: function (data) {
                    $('.product').html(data);
                }
            });
        }


    });


</script>
