<!-- custom. лучше делать top на 54px больше чем video_box_left, чтобы встало впритык-->


<div id="next" style="top: 254px";>
  <div id="next_icon">
    <i class="fa fa-chevron-right"></i>
  </div>
  <div class="next_box" style="border: 5px solid #FED900">
    <p><strong>{{ custom.label }}</strong></p>
    <p> {{ custom.text }}</p>
      <a class="btn btn-primary" href="{{ custom.link }}">{{ custom.button }}</a></p>
  </div>




  <script >
      $(function(){
          $("#video_box_left").hover(function(){
                  $("#video_box_left").stop(true, false).animate({left: "0" }, 500);
              },
              function(){
                  $("#video_box_left").stop(true, false).animate({left: "-560" }, 500);
              },1000);
      });

      $(function(){
          $("#next").hover(function(){
                  $("#next").stop(true, false).animate({left: "0" }, 500 );
              },
              function(){
                  $("#next").stop(true, false).animate({left: "-245" }, 500 );
              },1000);
      });
  </script>
</div>