<div class="facebook_right hidden-xs" style="right: -245px;">
    <div id="facebook_icon"><i class="fa fa-facebook"></i></div>
    <div class="facebook_box">


        <div class="fb-page" data-href="{{ facebook.page_url }}" data-tabs="timeline" data-small-header="false"
             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="{{ facebook.page_url }}" class="fb-xfbml-parse-ignore"><a
                        href="{{ facebook.page_url }}">Facebook</a></blockquote>
        </div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <script type="text/javascript">
            $(function () {
                $(".facebook_right").hover(function () {
                        $(".facebook_right").stop(true, false).animate({right: "0"}, 800, 'easeOutQuint');
                    },
                    function () {
                        $(".facebook_right").stop(true, false).animate({right: "-245"}, 800, 'easeInQuint');
                    }, 1000);
            });
            $(function () {
                $(".facebook_left").hover(function () {
                        $(".facebook_left").stop(true, false).animate({left: "0"}, 800, 'easeOutQuint');
                    },
                    function () {
                        $(".facebook_left").stop(true, false).animate({left: "-245"}, 800, 'easeInQuint');
                    }, 1000);
            });
        </script>
    </div>
</div>