<!-- twitter. для расположения поменять высоту top у twitter_right (желательно, чтобы она была больше на 54 px, так будет впритык)  -->
<div class="twitter_right" style="top: 301px;">
  <div id="twitter_icon">
    <i class="fa fa-twitter">
    </i>
  </div>
  <div class="twitter_box">
    <p>
      <a class="twitter-timeline"
         href="https://twitter.com/{{ twitter.screen_name}}">
        Tweets by @{{ twitter.screen_name}}
      </a>
    </p>

  </div>
</div>

<script>


    $(function(){
        $(".twitter_right").hover(function(){
                $(".twitter_right").stop(true, false).animate({right: "0" }, 500);
            },
            function(){
                $(".twitter_right").stop(true, false).animate({right: "-247" }, 500);
            },1000);
    });

    !function(d,s,id){
        var js,fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location)?'http':'https';
        if (!d.getElementById(id)){
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }(document,"script","twitter-wjs");

</script>