<div id="video_box_left" style="{%if(product_info.youtube_video_link)  %}  display: block; {% else %} display: none; {% endif %}top:200px">
  <div id="video_box_icon">
    <i class="fa fa-youtube-play"></i>
  </div>
  <div class="video_box">

    <iframe width="560" style="border: 5px solid #C51720" height="315" src="{{ product_info.youtube_video_link }}" frameborder="0" allowfullscreen></iframe>

    <script >
        $(function(){
            $("#video_box_left").hover(function(){
                    $("#video_box_left").stop(true, false).animate({left: "0" }, 500);
                },
                function(){
                    $("#video_box_left").stop(true, false).animate({left: "-560" }, 500);
                },1000);
        });

        $(function(){
            $("#next").hover(function(){
                    $("#next").stop(true, false).animate({left: "0" }, 500 );
                },
                function(){
                    $("#next").stop(true, false).animate({left: "-245" }, 500 );
                },1000);
        });
    </script>
  </div>
</div>
