{{header}}{{  column_left}}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-one_click_buy" data-toggle="tooltip" title="{{  button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{  cancel }}" data-toggle="tooltip" title="{{  button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{  heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning)  %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{  error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times </button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{  text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{  action }}" method="post" enctype="multipart/form-data" id="form-html" class="form-horizontal">

                    <div class="tab-pane">
                        <ul class="nav nav-tabs" id="language">
                            {% for  language in languages  %}
                                <li><a href="#language{{  language.language_id}}" data-toggle="tab"><img src="view/image/flags/{{  language.image}}" title="{{  language.name}}" /> {{  language.name}}</a></li>
                                    {% endfor %}
                        </ul>
                        <div class="tab-content">
                           {# {% for language in languages   %}
                                <div class="tab-pane" id="language{{  language.language_id}}">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="one_click_buy_name_{{  language.language_id}}">{{  entry_name }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="one_click_buy_name_{{  language.language_id}}" placeholder="{{ entry_name }}" id="one_click_buy_name_{{  language.language_id}}" value="{{ isset({'one_click_buy_name_'.language['language_id']}) ? {'one_click_buy_name_'.language['language_id']} : ''}}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="one_click_buy_preorder_name_{{  language.language_id}}">{{ entry_preorder_name }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="one_click_buy_preorder_name_{{  language.language_id}}" placeholder="{{ entry_preorder_name }}" id="one_click_buy_preorder_name_{{  language.language_id}}" value="{{ isset({'one_click_buy_preorder_name_'.language['language_id']}) ? {'one_click_buy_preorder_name_'.language['language_id']} : ''}}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="one_click_buy_success_field_{{  language.language_id}}">{{ entry_success_field }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="one_click_buy_success_field_{{  language.language_id}}" placeholder="{{ entry_success_field }}" id="one_click_buy_success_field_{{  language.language_id}}" value="{{ isset({'one_click_buy_success_field_'.language['language_id']}) ? {'one_click_buy_success_field_'.language['language_id']} : ''}}" class="form-control" />
                                            <p>{{ success_field_tooltip }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="one_click_buy_additional_field_{{  language.language_id}}">{{ entry_additional_field }}</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="one_click_buy_additional_field_{{  language.language_id}}" placeholder="{{ entry_additional_field }}" id="one_click_buy_additional_field_{{  language.language_id}}" value="{{ isset({'one_click_buy_additional_field_'.language['language_id']}) ? {'one_click_buy_additional_field_'.language['language_id']} : ''}}" class="form-control" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>
                                                <input type="checkbox" name="one_click_buy_additional_field_required_{{  language.language_id}}" value="1" {{ isset({'one_click_buy_additional_field_required_'.language['language_id']}) ? 'checked="checked"' : ''%}> {{ additional_field_required %}
                                            </label>
                                        </div>
                                        <div class="col-sm-offset-3 col-sm-9">
                                            {{ additional_field_tooltip %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}#}
                        </div>
                    </div>

                    <div class="form-group" style="border-top: 1px solid #ccc">
                        <label class="col-sm-3 control-label" for="input-img_status">{{  img_title }}</label>
                        <div class="col-sm-9">
                            <select name="one_click_buy_img_status" id="input-img_status" class="form-control">
                                {% if (one_click_buy_img_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{  text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{  text_enabled }}</option>
                                    <option value="0" selected="selected">{{  text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>			

                    <div class="form-group" style="border-top: 1px solid #ccc">
                        <label class="col-sm-3 control-label" for="input-field1_status">{{ field1_title }}</label>
                        <div class="col-sm-7">
                            <select name="one_click_buy_field1_status" id="input-field1_status" class="form-control">
                                {% if (one_click_buy_field1_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-2">
{#                            <label>
                                <input type="checkbox" name="one_click_buy_field1_required" value="1" {{ isset(one_click_buy_field1_required) ? 'checked="checked"' : ''%}> {{ field_required %}
                            </label>#}
                        </div>
                    </div>

                    <div class="form-group" style="border:none">
                        <label class="col-sm-3 control-label" for="input-field2_status">{{ field2_title }}</label>
                        <div class="col-sm-7">
                            <select name="one_click_buy_field2_status" id="input-field2_status" class="form-control">
                                {% if (one_click_buy_field2_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                           {# <label>
                                <input type="checkbox" name="one_click_buy_field2_required" value="1" {{ isset(one_click_buy_field2_required) ? 'checked="checked"' : ''%}> {{ field_required %}
                            </label>#}
                        </div>
                    </div>

                    <div class="form-group" style="border:none">
                        <label class="col-sm-3 control-label" for="input-field3_status">{{ field3_title }}</label>
                        <div class="col-sm-7">
                            <select name="one_click_buy_field3_status" id="input-field3_status" class="form-control">
                                {% if (one_click_buy_field3_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            {#<label>
                                <input type="checkbox" name="one_click_buy_field3_required" value="1" {{ isset(one_click_buy_field3_required) ? 'checked="checked"' : ''%}> {{ field_required %}
                            </label>#}
                        </div>
                    </div>

                    <div class="form-group" style="border:none">
                        <label class="col-sm-3 control-label" for="input-field4_status">{{ field4_title }}</label>
                        <div class="col-sm-7">
                            <select name="one_click_buy_field4_status" id="input-field4_status" class="form-control">
                                {% if (one_click_buy_field4_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                        {#    <label>
                                <input type="checkbox" name="one_click_buy_field4_required" value="1" {{ isset(one_click_buy_field4_required) ? 'checked="checked"' : ''%}> {{ field_required %}
                            </label>#}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-validation_type" style="padding-top:0px">{{ entry_validation_type }}</label>
                        <div class="col-sm-7">
                            <select name="one_click_buy_validation_type" id="input-validation_type" class="form-control">
                                {% if (one_click_buy_validation_type == value_validation_type1) %}
                                    <option value="{{ value_validation_type1 }}" selected="selected">{{ text_validation_type1 }}</option>
                                    <option value="{{ value_validation_type2 }}">{{ text_validation_type2 }}</option>
                                {% else %}
                                    <option value="{{ value_validation_type1 }}">{{ text_validation_type1 }}</option>
                                    <option value="{{ value_validation_type2 }}" selected="selected">{{ text_validation_type2 }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                        {#    <label>
                                <input type="checkbox" name="one_click_buy_validation_status" value="1" {{ isset(one_click_buy_validation_status) ? 'checked="checked"' : ''%}> {{ entry_validation_status %}
                            </label>#}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-status" style="padding-top:0px">{{ entry_status }}</label>
                        <div class="col-sm-9">
                            <select name="one_click_buy_status" id="input-status" class="form-control">
                                {% if (one_click_buy_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="border:none">
                        <label class="col-sm-3 control-label" for="input-status_category" style="padding-top:0px">{{ entry_status_category }}</label>
                        <div class="col-sm-9">
                            <select name="one_click_buy_status_category" id="input-status_category" class="form-control">
                                {% if (one_click_buy_status_category) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-style_status" style="padding-top:0px">{{ entry_style_status }}</label>
                        <div class="col-sm-9">
                            <select name="one_click_buy_style_status" id="input-style_status" class="form-control">
                                {% if (one_click_buy_style_status) %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>


                    <div class="tab-pane" style="padding-top:2em ;border-top:1px solid #000">
                        <div class="col-sm-12 text-center h2" style="margin-top:0">Настройки SMS уведомлений</div>
                        <ul class="nav nav-tabs" id="sms_settings">
                            <li><a href="#smsru" data-toggle="tab">SMS.ru</a></li>
                            <li><a href="#turbosms" data-toggle="tab">TurboSMS.ua</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="smsru">

                                <div class="col-sm-12 text-center h2" style="margin-top:0">{{ smsru_form_title }}</div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="smsru_api">{{ smsru_api_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_api" value="{{ one_click_buy_smsru_api }}" placeholder="{{ smsru_api_title }}" id="smsru_api" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_api_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_login">{{ smsru_login_title }}</label>
                                {#    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_login" value="{{ one_click_buy_smsru_login }}" placeholder="{{ smsru_login_title }}" id="smsru_login" class="form-control" />
                                    </div>#}
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_password">{{ smsru_password_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_password" value="{{ one_click_buy_smsru_password }}" placeholder="{{ smsru_password_title }}" id="smsru_password" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_number">{{ smsru_number_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_number" value="{{ one_click_buy_smsru_number }}" placeholder="{{ smsru_number_title }}" id="smsru_number" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_number_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_name">{{ smsru_name_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_name" value="{{ one_click_buy_smsru_name }}" placeholder="{{ smsru_name_title }}" id="smsru_name" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_name_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_admin_sms">{{ smsru_admin_sms_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_admin_sms" value="{{ one_click_buy_smsru_admin_sms }}" placeholder="{{ smsru_admin_sms_title }}" id="smsru_admin_sms" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_admin_sms_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_client_status">{{ smsru_client_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_smsru_client_status" id="smsru_client_status" class="form-control">
                                            {% if (one_click_buy_smsru_client_status) %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_client_status_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_client_sms">{{ smsru_client_sms_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_smsru_client_sms" value="{{ one_click_buy_smsru_client_sms }}" placeholder="{{ smsru_client_sms_title }}" id="smsru_client_sms" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ smsru_client_sms_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="smsru_status">{{ smsru_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_smsru_status" id="smsru_status" class="form-control">
                                            {% if (one_click_buy_smsru_status) %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="turbosms">

                                <div class="col-sm-12 text-center h2" style="margin-top:0">{{ turbosms_form_title }}</div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="turbosms_login">{{ turbosms_login_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_login" value="{{ one_click_buy_turbosms_login }}" placeholder="{{ turbosms_login_title }}" id="turbosms_login" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_password">{{ turbosms_password_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_password" value="{{ one_click_buy_turbosms_password }}" placeholder="{{ turbosms_password_title }}" id="turbosms_password" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_number">{{ turbosms_number_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_number" value="{{ one_click_buy_turbosms_number }}" placeholder="{{ turbosms_number_title }}" id="turbosms_number" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ turbosms_number_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_name">{{ turbosms_name_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_name" value="{{ one_click_buy_turbosms_name }}" placeholder="{{ turbosms_name_title }}" id="turbosms_name" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ turbosms_name_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_admin_sms">{{ turbosms_admin_sms_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_admin_sms" value="{{ one_click_buy_turbosms_admin_sms }}" placeholder="{{ turbosms_admin_sms_title }}" id="turbosms_admin_sms" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ turbosms_admin_sms_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_client_status">{{ turbosms_client_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_turbosms_client_status" id="turbosms_client_status" class="form-control">
                                            {% if (one_click_buy_turbosms_client_status) %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ turbosms_client_status_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_client_sms">{{ turbosms_client_sms_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_turbosms_client_sms" value="{{ one_click_buy_turbosms_client_sms }}" placeholder="{{ turbosms_client_sms_title }}" id="turbosms_client_sms" class="form-control" />
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ turbosms_client_sms_tooltip }}
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="turbosms_status">{{ turbosms_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_turbosms_status" id="turbosms_status" class="form-control">
                                            {% if (one_click_buy_turbosms_status) %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane" style="padding-top:2em; border-top:1px solid #000">
                        <div class="col-sm-12 text-center h2" style="margin-top:0">Настройка аналитики</div>
                        <ul class="nav nav-tabs" id="analytics_settings">
                            <li><a href="#yandex" data-toggle="tab"><span style="color:red">Я</span>ндекс</a></li>
                            <li><a href="#google" data-toggle="tab"><span style="color:#4285f4">G</span>oogle</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="yandex">

                                <div class="form-group">
                                    <div class="col-sm-12 text-center h2">{{ ya_form_title }}</div>
                                    <label class="col-sm-3 control-label" for="ya_counter">{{ ya_counter_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_ya_counter" value="{{ one_click_buy_ya_counter }}" placeholder="{{ ya_counter_title }}" id="ya_counter" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="ya_identificator">{{ ya_identificator_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_ya_identificator" value="{{ one_click_buy_ya_identificator }}" placeholder="{{ ya_identificator_title }}" id="ya_identificator" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="ya_target_status">{{ ya_target_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_ya_status" id="ya_target_status" class="form-control">
                                            {% if (one_click_buy_ya_status)  %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="google">


                                <div class="form-group">
                                    <div class="col-sm-12 text-center h2">{{ google_form_title }}</div>
                                    <label class="col-sm-3 control-label" for="google_category">{{ google_category_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_google_category" value="{{ one_click_buy_google_category }}" placeholder="{{ google_category_title }}" id="google_category" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="google_action">{{ google_action_title }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="one_click_buy_google_action" value="{{ one_click_buy_google_action }}" placeholder="{{ google_action_title }}" id="google_action" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group" style="border:none">
                                    <label class="col-sm-3 control-label" for="google_target_status">{{ google_target_status_title }}</label>
                                    <div class="col-sm-9">
                                        <select name="one_click_buy_google_status" id="google_target_status" class="form-control">
                                            {% if (one_click_buy_google_status)  %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    {{ footer }}